html,
body {
    min-height: 100vh;
}

body {
    position: relative;
    padding-bottom: 4rem;
}

a {
    color: #0366d6;
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
    padding: 1.5rem 0 .5rem;
    margin-bottom: .5rem;
}

header + .container {
    padding-top: 2rem;
}

header .navbar-brand {
    display: block;
}

header .bear-icon-32 {
    width: 32px;
    height: 32px;
    background-image: url("../images/icon/favicon-64.png");
    background-size: 100%;
    text-decoration: none;
}

header .nav-link.active {
    font-weight: 600;
}

.footer {
    position: absolute;
    bottom: 0;
    padding: 0 1rem;
    width: 100%;
    height: 4rem;
    line-height: 4rem;
    background-color: rgb(245,245,245);
    font-size: 85%;
    text-align: center;
}

.footer ul {
    display: none;
    margin-bottom: 0;
    padding-left: 0;
}

.footer li {
    display: inline-block;
    margin-left: 1rem;
}

.jumbotron {
    text-align: center;
}

.jumbotron > img[src*="BEAR_logo.png"] {
    max-width: 100%;
}

.jumbotron > p {
    margin-bottom: 1.2rem;
    font-size: 1.2rem;
}

.side-bar button {
    margin: 0 0 0 auto;
}

@media (min-width: 768px) {
    header {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index: 2;
    }

    header > .navbar {
        min-height: 4rem;
    }

    .footer {
        text-align: left;
    }

    article {
        padding-bottom: 4rem;
    }

    article h1:first-child {
        padding-top: 2rem;
    }

    .side-bar {
        position: -webkit-sticky;
        position: sticky;
        top: 4rem;
        margin-left: -15px;
        height: calc(100vh - 4rem);
        max-height: calc(100vh - 4rem);
        border-right: 1px solid rgba(0,0,0,.1);
        z-index: 1;

        overflow-y: auto;
    }

    .side-bar .navbar {
        padding: 0!important;
    }

    .side-bar ul {
        display: block!important;
        padding: 2rem 0;
        width: 100%;
        max-height: calc(100vh);

        overflow-y: auto;
    }

    .side-bar .nav-link {
        padding-left: 1.5rem!important;
    }

    .side-bar a.nav-link.active {
        font-weight: bold;
        background-color: rgb(245,245,245);
    }

    .side-bar-right {
        position: -webkit-sticky;
        position: sticky;
        top: 5rem;
        margin: 1rem 0;
        padding: 1rem 2rem;
        max-height: calc(100vh - 4rem);
        border-left: 1px solid rgba(0,0,0,.1);
        z-index: 1;

        overflow-y: auto;
    }

    .side-bar-right ul {
        padding: 0;
    }

    .side-bar-right ul > li {
        list-style: none;
    }

    .side-bar-right li > ul {
        padding-left: 2rem;
    }

    .side-bar-right li a {
        display: block;
        padding: .125rem 0;
        color: rgba(0, 0, 0, .5);
    }

    .side-bar-right li a:hover {
        color: rgba(0, 0, 0, .7);
    }

    .side-bar-right li a.active {
        color: rgba(0, 0, 0, .7);
        font-weight: 600;
    }
}

