.jumbotron p{
    text-align: center;
    font-size: 1.2em;
}

.col-lg-4 p {
    text-align: center;
}

.marketing-header {
    text-align: center;
}

.marketing-header h1 {
    font-size: 42px;
    font-weight: normal;
    margin-bottom: 0;
    margin-top: 0;
}

.jumbotron {
    text-align:center;
}

.img-circle {
    opacity:0.1;
    filter: alpha(opacity=10);
    -ms-filter: "alpha( opacity=1 0 )";
}

.jumbotron > img[src*="BEAR_logo.png"] {
    max-width: 100%;
}