/*****************************************************************************/
/*
/* Nav
/*
/*****************************************************************************/
body {
  padding-top: 0px;
}

.navbar {
  margin-bottom: 30px;
}
.navbar-default{
  margin-top: 10px;
}

/*****************************************************************************/
/*
/* Footer
/*
/*****************************************************************************/

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #f5f5f5;
}

.container .credit {
  margin: 20px 0;
}

.bear-icon-32 {
    float: left;
    height: 32px;
    width: 32px;
    display: inline-block;
    text-decoration: none;
    background-image: url("../images/screen/BEAR_icon32.png");
}
