[mysqld]
port = 3306
socket = {{MALT_DIR}}/tmp/mysql_3306.sock
log-error = {{MALT_DIR}}/logs/mysql_3306.log
general_log_file = {{MALT_DIR}}/logs/mysql_3306_general.log
slow_query_log_file = {{MALT_DIR}}/logs/mysql_3306_slow.log
datadir = "{{MALT_DIR}}/var/mysql_0"
pid-file = "{{MALT_DIR}}/var/mysql_0/mysqld.pid"

[client]
user = root
port = 3306
socket = {{MALT_DIR}}/tmp/mysql_3306.sock

[mysql]
prompt = mysql@3306:\d>\_
