<nav class="navbar navbar-expand-md navbar-light">
    <div class="navigation-header">
        <div class="ml-auto d-sm-block d-md-none">
            <div class="nav-item dropdown d-inline-block">
                <a class="nav-item nav-link dropdown-toggle mr-md-2" href="#" id="language" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {% if page.layout == 'docs-ja' %}日本語{% endif %}
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="language">
                    <a class="dropdown-item {% if page.layout == 'docs-ja' %}active{% endif %}" href="{{ page.permalink | replace: '/en/', '/ja/' }}">日本語</a>
                    <a class="dropdown-item {% if page.layout == 'docs-en' %}active{% endif %}" href="{{ page.permalink | replace: '/ja/', '/en/' }}">英語</a>
                </div>
            </div>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#Navber" aria-controls="Navber" aria-expanded="false" aria-label="ナビゲーションの切替">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
    <div class="collapse navbar-collapse" id="Navber">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link {% if page.permalink == '/manuals/1.0/ja/' %}active{% endif %}" href="/manuals/1.0/ja/index.html">イントロダクション</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if page.permalink == '/manuals/1.0/ja/version.html' %}active{% endif %}" href="/manuals/1.0/ja/version.html">バージョン</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if page.permalink == '/manuals/1.0/ja/quick-start.html' %}active{% endif %}" href="/manuals/1.0/ja/quick-start.html">クイックスタート</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if page.permalink == '/manuals/1.0/ja/tutorial.html' %}active{% endif %}" href="/manuals/1.0/ja/tutorial.html">チュートリアル</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if page.permalink == '/manuals/1.0/ja/tutorial2.html' %}active{% endif %}" href="/manuals/1.0/ja/tutorial2.html">チュートリアル 2</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if page.permalink == '/manuals/1.0/ja/package.html' %}active{% endif %}" href="/manuals/1.0/ja/package.html">パッケージ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if page.permalink == '/manuals/1.0/ja/application.html' %}active{% endif %}" href="/manuals/1.0/ja/application.html">アプリケーション</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if page.permalink == '/manuals/1.0/ja/module.html' %}active{% endif %}" href="/manuals/1.0/ja/module.html">モジュール</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if page.permalink == '/manuals/1.0/ja/di.html' %}active{% endif %}" href="/manuals/1.0/ja/di.html">DI</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if page.permalink == '/manuals/1.0/ja/aop.html' %}active{% endif %}" href="/manuals/1.0/ja/aop.html">AOP</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if page.permalink == '/manuals/1.0/ja/resource.html' %}active{% endif %}" href="/manuals/1.0/ja/resource.html">リソース</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if page.permalink == '/manuals/1.0/ja/router.html' %}active{% endif %}" href="/manuals/1.0/ja/router.html">ルーター</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if page.permalink == '/manuals/1.0/ja/production.html' %}active{% endif %}" href="/manuals/1.0/ja/production.html">プロダクション</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if page.permalink == '/manuals/1.0/ja/database.html' %}active{% endif %}" href="/manuals/1.0/ja/database.html">データベース</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if page.permalink == '/manuals/1.0/ja/html-v2.html' %}active{% endif %}" href="/manuals/1.0/ja/html-v2.html">HTML</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if page.permalink == '/manuals/1.0/ja/validation.html' %}active{% endif %}" href="/manuals/1.0/ja/validation.html">バリデーション</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if page.permalink == '/manuals/1.0/ja/form.html' %}active{% endif %}" href="/manuals/1.0/ja/form.html">フォーム</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if page.permalink == '/manuals/1.0/ja/content-negotiation.html' %}active{% endif %}" href="/manuals/1.0/ja/content-negotiation.html">コンテントネゴシエーション</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if page.permalink == '/manuals/1.0/ja/hypermedia-api.html' %}active{% endif %}" href="/manuals/1.0/ja/hypermedia-api.html">ハイパーメディア API</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if page.permalink == '/manuals/1.0/ja/psr7.html' %}active{% endif %}" href="/manuals/1.0/ja/psr7.html">リクエスト / PSR-7</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if page.permalink == '/manuals/1.0/ja/js-ui.html' %}active{% endif %}" href="/manuals/1.0/ja/js-ui.html">JavaScript UI</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if page.permalink == '/manuals/1.0/ja/stream.html' %}active{% endif %}" href="/manuals/1.0/ja/stream.html">ストリーム出力</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if page.permalink == '/manuals/1.0/ja/http-cache.html' %}active{% endif %}" href="/manuals/1.0/ja/http-cache.html">HTTPキャッシュ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if page.permalink == '/manuals/1.0/ja/swoole.html' %}active{% endif %}" href="/manuals/1.0/ja/swoole.html">Swoole</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if page.permalink == '/manuals/1.0/ja/coding-guide.html' %}active{% endif %}" href="/manuals/1.0/ja/coding-guide.html">コーディングガイド</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if page.permalink == '/manuals/1.0/ja/types.html' %}active{% endif %}" href="/manuals/1.0/ja/types.html">タイプ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if page.permalink == '/manuals/1.0/ja/test.html' %}active{% endif %}" href="/manuals/1.0/ja/test.html">テスト</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if page.permalink == '/manuals/1.0/ja/examples.html' %}active{% endif %}" href="/manuals/1.0/ja/examples.html">サンプル</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if page.permalink == '/manuals/1.0/ja/upgrade/injector.html' %}active{% endif %}" href="/manuals/1.0/ja/upgrade/injector.html">アップグレード</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if page.permalink == '/manuals/1.0/ja/upgrade/injector.html' %}active{% endif %}" href="/manuals/1.0/ja/attribute.html">アトリビュート</a>
            </li>
        </ul>
    </div>
</nav>
