<nav class="navbar navbar-expand-md navbar-light">
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#Navber" aria-controls="Navber" aria-expanded="false" aria-label="ナビゲーションの切替">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="Navber">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link {% if page.permalink == '/manuals/1.0/en/' %}active{% endif %}" href="/manuals/1.0/en/">Introduction</a>
            </li>
            <li>
                <a class="nav-link {% if page.permalink == '/manuals/1.0/en/version.html' %}active{% endif %}" href="/manuals/1.0/en/version.html">Version</a>
            </li>
            <li>
                <a class="nav-link {% if page.permalink == '/manuals/1.0/en/quick-start.html' %}active{% endif %}" href="/manuals/1.0/en/quick-start.html">Quick Start</a>
            </li>
            <li>
                <a class="nav-link {% if page.permalink == '/manuals/1.0/en/tutorial.html' %}active{% endif %}" href="/manuals/1.0/en/tutorial.html">Tutorial</a>
            </li>
            <li>
                <a class="nav-link {% if page.permalink == '/manuals/1.0/en/package.html' %}active{% endif %}" href="/manuals/1.0/en/package.html">Package</a>
            </li>
            <li>
                <a class="nav-link {% if page.permalink == '/manuals/1.0/en/application.html' %}active{% endif %}" href="/manuals/1.0/en/application.html">Application</a>
            </li>
            <li>
                <a class="nav-link {% if page.permalink == '/manuals/1.0/en/module.html' %}active{% endif %}" href="/manuals/1.0/en/module.html">Module</a>
            </li>
            <li>
                <a class="nav-link {% if page.permalink == '/manuals/1.0/en/di.html' %}active{% endif %}" href="/manuals/1.0/en/di.html">DI</a>
            </li>
            <li>
                <a class="nav-link {% if page.permalink == '/manuals/1.0/en/aop.html' %}active{% endif %}" href="/manuals/1.0/en/aop.html">AOP</a>
            </li>
            <li>
                <a class="nav-link {% if page.permalink == '/manuals/1.0/en/resource.html' %}active{% endif %}" href="/manuals/1.0/en/resource.html">Resource</a>
            </li>
            <li>
                <a class="nav-link {% if page.permalink == '/manuals/1.0/en/router.html' %}active{% endif %}" href="/manuals/1.0/en/router.html">Router</a>
            </li>
            <li>
                <a class="nav-link {% if page.permalink == '/manuals/1.0/en/production.html' %}active{% endif %}" href="/manuals/1.0/en/production.html">Production</a>
            </li>
            <li>
                <a class="nav-link {% if page.permalink == '/manuals/1.0/en/database.html' %}active{% endif %}" href="/manuals/1.0/en/database.html">Database</a>
            </li>
            <li>
                <a class="nav-link {% if page.permalink == '/manuals/1.0/en/validation.html' %}active{% endif %}" href="/manuals/1.0/en/validation.html">Validation</a>
            </li>
            <li>
                <a class="nav-link {% if page.permalink == '/manuals/1.0/en/html-v2.html' %}active{% endif %}" href="/manuals/1.0/en/html-v2.html">HTML</a>
            </li>
            <li>
                <a class="nav-link {% if page.permalink == '/manuals/1.0/en/form.html' %}active{% endif %}" href="/manuals/1.0/en/form.html">Form</a>
            </li>
            <li>
                <a class="nav-link {% if page.permalink == '/manuals/1.0/en/content-negotiation.html' %}active{% endif %}" href="/manuals/1.0/en/content-negotiation.html">Content Negotiation</a>
            </li>
            <li>
                <a class="nav-link {% if page.permalink == '/manuals/1.0/en/hypermedia-api.html' %}active{% endif %}" href="/manuals/1.0/en/hypermedia-api.html">Hypermedia API</a>
            </li>
            <li>
                <a class="nav-link {% if page.permalink == '/manuals/1.0/en/psr7.html' %}active{% endif %}" href="/manuals/1.0/en/psr7.html">PSR-7</a>
            </li>
            <li>
                <a class="nav-link {% if page.permalink == '/manuals/1.0/en/js-ui.html' %}active{% endif %}" href="/manuals/1.0/en/js-ui.html">JavaScript UI</a>
            </li>
            <li>
                <a class="nav-link {% if page.permalink == '/manuals/1.0/en/stream.html' %}active{% endif %}" href="/manuals/1.0/en/stream.html">Stream Response</a>
            </li>
            <li>
                <a class="nav-link {% if page.permalink == '/manuals/1.0/en/coding-guide.html' %}active{% endif %}" href="/manuals/1.0/en/coding-guide.html">Coding Guide</a>
            </li>
            <li>
                <a class="nav-link {% if page.permalink == '/manuals/1.0/en/test.html' %}active{% endif %}" href="/manuals/1.0/en/test.html">Test</a>
            </li>
            <li>
                <a class="nav-link {% if page.permalink == '/manuals/1.0/en/examples.html' %}active{% endif %}" href="/manuals/1.0/en/examples.html">Examples</a>
            </li>
        </ul>
    </div>
</nav>