{% include header.html %}

<p></p>
<div class="container">

<div class="row">
  <div class="col-md-12">
    <ul class="nav nav-tabs">
      <li{% if page.subcategory == "Installation" %} class="active"{% endif %}><a href="install.html">Start Here!</a></li>

      <li{% if page.subcategory == "REST" %} class="active"{% endif %}><a href="rest.html">REST - Hypermedia</a></li>
      <li{% if page.subcategory == "DI" %} class="active"{% endif %}><a href="di.html">Dependency Injection</a></li>
      <li{% if page.subcategory == "AOP" %} class="active"{% endif %}><a href="aop.html">Aspect Orientated Programming</a></li>


      <li{% if page.category == "My First - Tutorial" %} class="active"{% endif %}><a href="my_first_resource.html">My First - Tutorial</a></li>
      <li{% if page.category == "Blog Tutorial" %} class="active"{% endif %}><a href="blog_install.html">Blog Tutorial</a></li>

      <li{% if page.category == "Others" %} class="active"{% endif %}><a href="faq.html">Others Stuff</a></li>
    </ul>
  </div>
</div>
<p></p>

<div class="row">
  <div class="col-md-3">

    {% include docs/en/subnav.html %}


  </div>
  <div class="col-md-9">

     {{ content }}
  </div>
</div>

</div>
 

{% include footer.html %}